.menuContainer {
    display: flex;
    justify-content: space-between;
    min-width: 361px;
    height: 39px;
    padding: 0 21px;
}

.menuContainer a {
  text-align: center;
  font: Roman 18px/25px Avenir;
  letter-spacing: 0px;
  color: #374458;
  text-transform: capitalize;
  opacity: 0.5;
  text-decoration: none;
  /* padding: 9px 21px; */
  padding: 9px 0;
}

.menuContainer a.active {
  color: #4990E2;
  font-weight: bold;
  opacity: 1;
  position: relative;
}


.menuContainer a.active:after {
  content: '';
  position: absolute;
  display: block;
  width: 78px;
  height: 3px;
  background: #4990E2 0% 0% no-repeat padding-box;
  margin-top: 4px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}