.search-container {
  position: relative;
  padding-bottom: 11px;
}

.search-input {
  min-width: 345px;
  height: 39px;
  border-radius: 4px;
  border: 4px;
  position: relative;
  padding-left: 30px;
}

.search-input:focus{
  outline: none;
}

.search-overlay {
  position: absolute;
  top: 44%;
  left: 12px;
  transform: translateY(-50%);
}